<div ng-controller='discussions_controller'>
	<div class='row' id='header'>
		<div class='col-xs-8 header_content'>
			<img id='header_logo' src='./assets/gglogo.png'>
			<span id='gamer_groups_header'> Gamer Groups </span>
		</div>
		<div class='col-xs-4 header_content'>
			 <section id='logout_section' class="flat">
					<button ng-click='logout()'><a href='#' class='login'>Logout</a></button>
			</section>
		</div>
	</div>
	<div class='nav_bar'>
		<a href='#/home'>Home</a>
		<a href='#/lfg'>Looking for Group</a>
		<a href='#/discussions'>Discussions</a>
		<a href='#/contact'>Contact </a>
		<a href='#/friends'>Friends</a>
		<a href='#/profile'>Profile</a>
	</div>
	<div class='container'>
		<div class='panel panel-default'>
				<table>
					<thead>
						<tr>
							<td>Game</td>
							<td>Lobby Size</td>
							<td>Gamertype</td>
							<td>Age Restricted</td>
							<td>Comms</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='room in rooms'>
							<td>{{room.game}}</td>
							<td>{{room.size}}</td>
							<td>{{room.game_style}}</td>
							<td>{{room.age}}</td>
							<td>{{room.communication_plat}}</td>
							<td><a class='table_link' href='#/chatroom/{{room._id}}'>Join</a></td>
						</tr>
					</tbody>
				</table>
		</div>
		<a class='create_a_room_link' href='#/room'>Create a new room</a>
	</div>
	<nav id="nav_bottom"class="navbar navbar-default navbar-fixed-bottom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/home">Gamer Groups</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href='#/home'>Home</a></li>
					<li><a href='#/lfg'>Looking for Group</a></li>
					<li><a href='#/discussions'>Discussions</a></li>
					<li><a href='#/contact'>Contact</a></li>
					<li><a href='#/friends'>Friends</a></li>
					<li><a href='#/profile'>Profile</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
	</nav>
</div>
