<div class='container' ng-controller='register_controller'>

	<div class='row' id='header'>
		<div class='col-xs-8 header_content'>
			<img id='header_logo' src='./assets/gglogo.png'>
			<span id='gamer_groups_header'> Gamer Groups </span>
		</div>
		<div class='col-xs-4 header_content'>
			 <section id='logout_section' class="flat">
					<button><a href='#/login' class='login'>Login</a></button>
			</section>
		</div>
	</div>
	<div class='placeholder_div' class='row'>
	</div>

	<div class='nav_bar'>
		<a href='#/home'>Home</a>
		<a href='#/lfg'>Looking for Group</a>
		<a href='#/discussions'>Discussions</a>
		<a href='#/contact'>Contact </a>
		<a href='#/friends'>Friends</a>
		<a href='#/profile'>Profile</a>
	</div>

	<div class='row'>
		<h2 class='register_title'>Register {{success}}</h2>
	</div>

	<div class='row register_form'>
		<span class='error' ng-repeat='error in errors'>{{error.message}}</span>
		<div class='col-sm-6 col-xs-12'>
			<div class='form-group'>
				<label class='input_label'>First Name:</label>
				<input class='form-control' type='text' ng-model='first_name'>
			</div>
			<div class='form-group'>
				<label class='input_label'>Last Name:</label>
				<input class='form-control' type='text' ng-model='last_name'>
			</div>
			<div class='form-group'>
				<label class='input_label'>Email Address:</label>
				<input class='form-control' type='email' ng-model='email'>
			</div>
			<div class='form-group'>
				<label class='input_label'>Username:</label>
				<input class='form-control' type='username' ng-model='username'>
			</div>
			<div class='form-group'>
				<label class='input_label'>Password:</label>
				<input class='form-control' type='password' ng-model='password'>
			</div>
			<div class='form-group'>
				<label class='input_label'>Confirm Password:</label>
				<input class='form-control' type='password' ng-model='confirm'>
			</div>
		</div>

		<div class='col-sm-6 col-xs-12'>
			<div class='form-group'>
				<label class='input_label'>Birth Date (MM-DD-YYYY)</label>
				<input class='form-control' type='text' ng-model='dob'>
			</div>
			<div class='form-group'>
				<label class='input_label'>Communication Preference</label>
				<select class='form-control' ng-model='communication_pref'>
					<option value='Microphone'>Microphone</option>
					<option value='Keyboard/Chat'>Keyboard/Chat</option>
					<option value='None'>None</option>
				</select>
			</div>
			<div class='form-group'>
				<label class='input_label'>Communication Platform (optional)</label>
				<input class='form-control' type='text' ng-model='communication_plat'>
			</div>
			<div class='form-group'>
				<label class='input_label'>Gaming Style</label>
				<select class='form-control' ng-model='gamer_style'>
					<option value='Casual'>Casual</option>
					<option value='Hardcore'>Hardcore</option>
					<option value='Role Play'>Role Play</option>
					<option value='Co-op'>Co-op</option>
					<option value='Troll'>Troll</option>
				</select>
			</div>
			<div class='form-group'>
				<label class='input_label'>City:</label>
				<input class='form-control' type='text' ng-model='city'>
			</div>
			<div class='form-group'>
				<label class='input_label'>State:</label>
				<input class='form-control' type='text' ng-model='state'>
			</div>
			<section class="flat">
	        <button class='click_button' ng-click='register()'>Register</button>
      </section>
			<div id='register_placeholder'></div>
			<a id='register_here' href='#/login'>Already have an account? Login here</a>
		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/home">Gamer Groups</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href='#/home'>Home</a></li>
					<li><a href='#/lfg'>Looking for Group</a></li>
					<li><a href='#/discussions'>Discussions</a></li>
					<li><a href='#/contact'>Contact</a></li>
					<li><a href='#/friends'>Friends</a></li>
					<li><a href='#/profile'>Profile</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
	</nav>

</div>
